<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-lg-6">
            <select class="form-control" #selectedTable (change)="setNewTable(selectedTable.value)">
            	<option *ngFor="let table of tables" [value]="table.tableName">{{table.displayName}}</option>
            </select>
        </div>
        <div class="col-lg-6">
            <select id="types" class="form-control" #selectedType (change)="setNewType(selectedType.value)">
            	<option *ngFor="let type of typesInTable" [value]="type.name">{{type.displayName}}</option>
            </select>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-3"  *ngFor="let column of columns">
			<span class='checkbox'>
				<label>
					<!-- <input type='checkbox' name='column_family' id='select_cb" + i + "' value='" + data[i]['Field'] + "' checked>" data[i]['Field'] -->
					<input type='checkbox' [checked]="column.checked"> {{column.columnName}}
					
				</label>
			</span>
		</div>
    </div>
    <div class="row">
        <div id="selectColumns"></div>
    </div>
</div>

 
<div class="container-fluid" style="margin: 10px auto;">
    <textarea id="querySql" class="form-control" style="width:100%;height:150px">{{sql}}</textarea>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <button class="btn btn-primary" style="width:100%" id="query">Query</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6">
        <button class="btn btn-primary" style="width:100%" class="col-lg-6" id="timelineQuery">TimeLine Query</button>
      </div>
    </div>
</div>